.SingleBrand .banner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text-color-4);
}

.SingleBrand .banner img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.bannerData {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.banner .bannerData h1 {
  font-size: 40pt;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 4px 0 var(--text-color-5);
  color: inherit;
}

.banner .bannerData h3 {
  font-size: 20pt;
  font-weight: bolder;
  text-transform: lowercase;
  margin: 0;
  color: inherit;
}
.SingleBrand .header {
  font-size: 30pt;
  text-align: left;
}

.SingleBrand .itemsCount {
  margin: 20px 10px;
}

@media screen and (max-width: 1150px){
  .SingleBrand .header {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .banner .bannerData h1 {
    font-size: 30pt;
  }
  .banner .bannerData h3 {
    font-size:15pt;
  }
}

@media screen and (max-width: 450px) {
  .banner .bannerData h1 {
    font-size: 20pt;
  }
  .banner .bannerData h3 {
    font-size:10pt;
  }
} 