
.degree360DataImg {
  margin-top: 32px;
}

.Degree360DataH1 {
  font-size: 31pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px auto 0 auto;

}

.Degree360DataH3 {
  font-size: 20pt;
  font-weight: 600;
  text-transform: uppercase;
}