
.degree360DataImg {
  margin-top: 32px;
}

.degree360DataH1 {
  font-size: 31pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px auto 0 auto;
  color: inherit;
}

.degree360DataH3 {
  font-size: 20pt;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
}

@media screen and (max-width: 520px) {
  .degree360DataH1 {
    font-size: 20pt;
  }
  .degree360DataH3 {
    font-size: 16pt;
  }

}