.WeDeliver {
  margin-top: 40px;
  width: 100%;
  height: 225px;
  background-color: var(--bg-color-6);
  color: var(--text-color-4);
  text-align: center;
}

.WeDeliver h1 {
  margin: 30px 0 5px;
  font-weight: 900;
  font-size: 35pt;
  color: inherit;
}

.WeDeliver h1 img {
  width: 57px;
}

.WeDeliver h3 {
  font-weight: 600;
  font-size: 18.5pt;
  color: inherit;
}
.WeDeliver button {
  width: 205px;
  height: 45px;
  margin: 20px 50px 0 0;
  font-family: inherit;
  font-size: 16pt;
  font-weight: bold;
  background-color: var(--bg-color-2);
  color: var(--text-color-7);
  border: 0;
}

.WeDeliver button:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 690px) {
  .WeDeliver h1 {
    font-size: 24pt;
  }

  .WeDeliver h1 img {
    width: 40px;
  }

  .WeDeliver h3 {
    font-size: 16pt;
  }
}

@media screen and (max-width: 550px) {
  .WeDeliver h1 {
    font-size: 18pt;
  }
    
  .WeDeliver h1 img {
    width: 30px;
  }

  .WeDeliver h3 {
    font-size: 12pt;
  }

  .WeDeliver button {
    margin-right: 10px;
    width: 144px;
    height: 36px;
    font-size: 12pt;

  }
}