.ProductsList{
  width: 100%;
}

.ProductsList header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.ProductsList header h1{
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: 600;
}

.ProductsList header a {
  color: inherit;
  font-size: 10pt;
  font-weight: 600;
}

.ProductsList .productsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}

.productsBox::after {
  content: "";
  width: calc((100% - 80px)/3);
}

.style0::after {
  min-width: 370px;
}

.style1::after {
  min-width: 270px;
}

.style2::after {
  min-width: 270px;
}



@media screen and (max-width: 1150px){
  .ProductsList header{
    margin: 40px 10px;
  }
  
  .ProductsList .productsBox {
    justify-content: space-around;
  }
}

@media screen and (max-width: 750px){
  .style1::after{
    min-width: 250px;
  }
  .style2::after{
    min-width: 240px;
  }
}

@media screen and (max-width: 470px){
  .ProductsList header h1{
    font-size: 12pt;
  }
}