.ProductItem {
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 278px;
  background-color: var(--bg-color-5);
  margin: 0 15px 15px 0;
}

.saleItem {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
}

.newItem {
  position: absolute;
  top: 0;
  right: 15px;
  width: 44px;

}

.onlineDealItem {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 39px;
}

.ProductItem:nth-child(3), .ProductItem:nth-child(6){
  margin-right: 0;
}
.ProductItem .productImgBox {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.ProductItem .productImgBox img {
  width: 167px;
}

.ProductItem p {
  max-width: 230px;
  height: 40px;
  font-size: 10pt;
  margin: 0 auto;
}

.ProductItem h5 {
  font-weight: bold;
  font-size: 12pt;
  color: var(--text-color-5);
  margin: 10px 0 0;
}

.ProductItem .rating img{
  width: 12px;
  margin-right: 2px;
}
.ProductItem .rating img:last-child{
  margin-right: 0px;
}