.Slogin {
  font-size: inherit;
  color: var(--primary-color);
  font-size: 8pt;
}

.Slogin span {
  font-weight: bold;
}

.Slogin a {
  color: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  .Slogin {
    margin-left: 10px;
  }
}

@media screen and (max-width: 690px) {
  .Slogin {
    align-self: center;
    justify-items: center;
    margin: auto;
  }
}